<script id="homeTemplate" type="text/template" class="template">

	<div class="pageContainer" id="homeTemplateContainer">

		<div class="title"> 
		{{ rc.title }}
			</div>
	
	
		<div class=homeContent>
			<img class="homeImage" src={{ rc.imageSource }}></img>
		
			<div class="paragraph">
		
			<p class="paragraphOne">Welcome to Car House!</p>
	
			<p class="paragraphTwo">
			Here at Car House we offer all your car service needs.
			From tire rotations to routine oil changes, one of our many friendly
			technicians will always be available to service your car.
			</p>
	
		</div>
		
		</div>
	</div>

	
	
	

</script>