<script id="loginTemplate" type="text/template" class="template">

	<div class="pageContainer loginContainer" id="loginTemplateContainer">

		<div class = "login">
			<div class="title">Log In</div>
			<div class="loginRow">
				<input id="loginEmail" placeholder="Email" type="text"></input>
			</div>
			<div class="loginRow">
				<input id="loginPass" placeholder="Password" type="password"></input>
			</div>
			<div class="loginRow">
				<input id="loginSubmit" value="Log In" type="button" class="btnLogin"></input>
			</div>
		</div>
	</div>

</script> 
