<script id="signupTemplate" type="text/template" class="template">

	<div class="pageContainer loginContainer" id="signupTemplateContainer">

		<div class = "login">
			<div class="title">Sign Up</div>
			<div class="loginRow">
				<input id="signupFirstName" placeholder="First Name" type="text"></input>
			</div>
			<div class="loginRow">
				<input id="signupLastName" placeholder="Last Name" type="text"></input>
			</div>
			<div class="loginRow">
				<input id="signupEmail1" placeholder="E-mail" type="text"></input>
			</div>
			<div class="loginRow">
				<input id="signupEmail2" placeholder="Repeat E-mail" type="text"></input>
			</div>
			<div class="loginRow">
				<input id="signupPass1" placeholder="Password" type="password"></input>
			</div>
			<div class="loginRow">
				<input id="signupPass2" placeholder="Repeat Password" type="password"></input>
			</div>
			<div class="loginRow">
				<input id="signupSubmit" value="Sign Up" type="button" class="btnLogin"></input>
			</div>
		</div>
	</div>

</script> 
