<script id="vehiclesTemplate" type="text/template" class="template">

<div class="pageContainer" id="vehicleTemplateContainer">

	<div class="title">My Vehicles</div>

	<div class="tableOne">
		<table id="vehiclesTable" class="display" cellspacing="0" width="100%">
	</table>
	</div>

	<div>
		<fieldset>
			<label for="vehiclesMake">Select a Make</label>
			<select name="vehiclesMake" id="vehiclesMake">
			</select>
		
			<label for="vehiclesModel">Select a Model</label>
			<select name="vehiclesModel" id="vehiclesModel">
			</select>
			<input type="button" value="Add Vehicle" id="vehiclesSubmit"></input>
		</fieldset>
	</div>
</div>

</script> 
